{{define "footer"}}
<div class = "container">
    <div class = "row">
        <div class = "col">
        <hr>
        <small>Copyright &copy; GoCode.tw</small>
        </div>
    </div>
</div>
{{end}}